<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyecto_sisvita">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/sisvita_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/sisvita_logo"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">

        <activity android:name=".registro.TestIsra.Login.LoginActivity" />
        <activity android:name=".registro.TestIsra.Login.RegistroActivity"/>
        <activity android:name=".registro.TestIsra.Login.TerminosActivity"/>
        <activity android:name=".registro.TestIsra.escogerTest.IniciarTestActivity"/>
        <activity android:name=".registro.TestIsra.escogerTest.EscogerTestActivity"/>
        <activity android:name=".registro.TestIsra.ISRA.TestISRA"/>
        <activity android:name=".registro.TestIsra.ISRA.InicioCognitivo"/>
        <activity android:name=".registro.TestIsra.Login.MainActivity"

            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
